body.dark {
    font-family: Lato, sans-serif;
    color: #ccc;
    background-color: #1e1e1e;
}

#OTA {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px); /* Adjust based on your layout */
    min-height: 400px; /* Ensure a minimum height */
    padding-bottom: 20px; /* Additional padding at the bottom */
}

#OTA h2 {
    color: #a0a0a0;
    margin: 0 0 10px 10px;
    font-size: 18px;
}

#OTA .firmware-info,
#OTA .file-info,
#OTA .update-status {
    margin-bottom: 15px;
}

#OTA .update-status {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevents scrollbar on the container */
    min-height: 100px; /* Ensure a minimum height for visibility */
    position: relative;
    z-index: 1;
}

#OTA .update-status h3 {
    margin-bottom: 5px;
    color: #a0a0a0;
}

#OTA #ota_update_status {
    padding: 10px;
    background-color: #2a2a2a;
    border: 1px solid #373737;
    border-radius: 5px;
    min-height: 50px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: none; /* Removes any existing max-height */
    display: block; /* Ensure it's displayed as a block element */
    color: #ffffff; /* Ensure text is visible against the dark background */
}

#OTA .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#OTA input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#OTA input[type="button"]:first-child {
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
}

#OTA input[type="button"]:last-child {
    background-color: #008CBA;
    color: white;
}

#latest_firmware {
    margin-bottom: 15px;
}

/* Debugging style - comment out when not needed */
/*
#OTA .update-status {
    background-color: red;
}
*/

@media screen and (max-width: 768px) {
    #OTA {
        height: auto;
        min-height: calc(100vh - 100px);
    }

    #OTA .buttons {
        flex-direction: column;
    }

    #OTA input[type="button"] {
        width: 100%;
        margin-bottom: 10px;
    }

    #OTA input[type="button"]:first-child {
        margin-right: 0;
    }
}
